body {
	text-align: center;
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png");
}

header {
	background: #333;
}

header li {
	font-family: 'Saira Condensed', sans-serif;
	color: white;
}
header h1 {
	margin-right: auto;
	color: white;
	display: inline;
}

footer {
	font-family: 'Saira Condensed', sans-serif;
	text-align: center;
	min-height: 200px;
	background: #333;
	margin-bottom: 0px;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

footer ul {
	margin: auto;
}

.panel {
	font-family: 'Saira Condensed', sans-serif;
	border: #333 solid 1px;
	border-radius: 5px;
	background: #e6e9ef;
	color: #333;
	text-align: center;
}
hr {
	color: #333;
}

.clear {
	background: transparent;
	min-height: 80px;
}

.round-image {
	border: transparent solid 1px;
	border-radius: 105%;
	margin: 10px;

}

.thumbnail {
	clear: both;
}

.footer-row {
	pad
}